<nav class="nav-extended">
  <div id="partículas-js"> </div>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img class="imagen"src="../../../assets/img/Tejidos Diversos (1).png"></a>
      <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons black-text">view_list</i></a>
    </div>
    <div class="nav-content">
      <li class="tabs center">
        <ul class="tab"><a class="letras black-text"href="#test1">Limpieza</a></ul>
        <ul class="tab"><a class="letras black-text" href="#test2">Fontaneria</a></ul>
        <ul class="tab"><a class="letras black-text" href="#test3">Acarreos</a></ul>
        <ul class="tab"><a class="letras black-text" href="#test4">Pintura</a></ul>
        </li>
    </div>
  </nav>