.imagen{
    max-height:100%;
    min-height:20%;
    width:50%;
    align-self: left;

}
.logo-container{
    width: 56px;
    align-items:left;

}
.letras{ 
    font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
.partículas-js{
    background-color:black;
}
.NavBar{
    
    /*FlexBox stuff*/
    display: flex;
    justify-content: center;
    /*Text styles*/
    color: white;
    background-image: url("../../../assets/img/image.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
      font-size: inherit;
  } 
.black{
    font: small-caps 100%/200% serif;
    font: size 100%;;
}
.white{
    font: small-caps 100%/200% serif;
    font: size 100%;;
}
.titulo{    
    /*FlexBox stuff*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Text styles*/
    text-align: center;
    color: white;
    background-image: url("../../../assets/img/image.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.image{
    width: 300px; height: 100%;
    display:block;
    margin:auto;
}