
.imagen{
    width: 50%;
    height: 1%;
}
.letras{
    font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
.partículas-js{
    background-color:black;
}
.nav-content{
    background:#C92305;
}

.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
      font-size: inherit;
  } 


 