.page-footer{ 
    /*FlexBox stuff*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Text styles*/
    text-align: center;
    color: white;
    background-image: url("../../../assets/img/image.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer-text{
    font-size: 20px;
}

  .Line{
    width: 100%px;
    height: 100%px;
  }