<main>
<section class="slider">
  <ul class="slides">
    <li>
      <img  src="../../../assets/img/image.png" class="image"> <!-- random image -->
      <div class="caption center-align">
        <h1>Casa Nova</h1>
        <div class="container">
          
        </div>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/image.png" class="image"> <!-- random image -->
      <div class="caption left-align">
        <h2>CasaNova2</h2>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/image.png" class="image"> <!-- random image -->
      <div class="caption right-align">
        <h2>CasaNova3</h2>
      </div>
    </li>
  </ul>
</section>
</main>
<div class="Line"></div>
        <!--   Icon Section   -->
        <h1 class="center" style = "font-family:courier,arial,helvética;">Casa Nova</h1>
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-black-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center" style = "font-family:courier,arial,helvética;">Mision</h5>
              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-black-text"><i class="material-icons">group</i></h2>
              <h5 class="center" style = "font-family:courier,arial,helvética;">Vision</h5>
              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-black-text"><i class="material-icons">settings</i></h2>
              <h5 class="center" style = "font-family:courier,arial,helvética;">Compromiso</h5>
              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>
<div class="parallax-container">
  <div class="parallax">
    <img class="responsive-img" src="../../../assets/img/franja.jpg">
    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
  </div>
</div>
<h1 class="center">Imagenes</h1>
<section class="slider">
  <ul class="slides">
    <li>
      <img  src="../../../assets/img/IMG-20200612-WA0009.jpg" class="image"> <!-- random image -->
      <div class="caption center-align">
        <div class="container">
          
        </div>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/IMG-20200612-WA0011.jpg" class="image"> <!-- random image -->
      <div class="caption left-align">
      </div>
    </li>
    <li>
      <img src="../../../assets/img/IMG-20200612-WA0019.jpg" class="image"> <!-- random image -->
      <div class="caption right-align">
      </div>
    </li>
  </ul>
</section>
<h4 class="center">contactanos</h4>
<div class="parallax-container">
  <div class="parallax">
    <img class="responsive-img" src="../../../assets/img/franja.jpg">
    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
  </div>
</div>
<div class="section white">
  <div class="row container">
<h2 class="center" style = "font-family:courier,arial,helvética;">CasaNova</h2>
<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
<div id="Slider"class="carousel">   
    <a class="carousel-item" href=""><img class="responsive-img" src="../../../assets/img/CasaNova2.jpg"></a>
    <a class="carousel-item" href=""><img class="responsive-img" src="../../../assets/img/CasaNova3.jpg"></a>
    <a class="carousel-item" href=""><img class="responsive-img" src="../../../assets/img/Sin título.jpg"></a>
</div>
</div>
</div>
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="../../../assets/img/franja.jpg"></div>
</div>
<!--<h1>CSS GRID</h1>
<section class="container">
<section class="Imagenes">
  <div class="conntenedor">
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0001.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0002.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0003.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0004.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0005.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0006.jpg">
    </article>
    <article class="persona__columna">
      <img src="../../../assets/img/IMG-20200612-WA0007.jpg">
    </article>

  </div>

</section>
</section>-->

<section class="container">

  <h2 class="center">Blog - CasaNova</h2>
  <div class="row">
   <div class="col s12 m12 l6">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="../../../assets/img/VUEVA-9.png">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">General Graphic Design
           <i class="material-icons right">more_vert</i></span>
         <div class="card-action">
         </div>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">General Graphic Design<i class="material-icons right">close</i></span>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at tenetur mollitia voluptate? Tempore, itaque.</p>
         <img src="../../../assets/img/VUEVA-9.png" class="responsive-img">
       </div>
     </div>           
   </div>
   <div class="col s12 m12 l6">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="../../../assets/img/VUEVA-1.png">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">General Graphic Design
           <i class="material-icons right">more_vert</i></span>
         <div class="card-action">
         </div>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">General Graphic Design<i class="material-icons right">close</i></span>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at tenetur mollitia voluptate? Tempore, itaque.</p>
         <img src="../../../assets/img/VUEVA-1.png" class="responsive-img">
       </div>
     </div>           
   </div>
   <div class="col s12 m12 l6">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="../../../assets/img/VUEVA-6.png">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">General Graphic Design
           <i class="material-icons right">more_vert</i></span>
         <div class="card-action">
         </div>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">General Graphic Design<i class="material-icons right">close</i></span>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at tenetur mollitia voluptate? Tempore, itaque.</p>
         <img src="../../../assets/img/VUEVA-6.png" class="responsive-img">
       </div>
     </div>           
   </div>
   <div class="col s12 m12 l6">
     <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="../../../assets/img/VUEVA-4.png">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">General Graphic Design
           <i class="material-icons right">more_vert</i></span>
         <div class="card-action">
         </div>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">General Graphic Design<i class="material-icons right">close</i></span>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at tenetur mollitia voluptate? Tempore, itaque.</p>
         <img src="../../../assets/img/VUEVA-4.png" class="responsive-img">
       </div>
     </div>           
   </div>
  </div>
 </section>

