.carousel-item{
    width: 400px;
    height: 300px;
}
.parallax-container {
    height:200px;
 }
.bandera{
    width: 2000px;
    height: 50px;
    opacity: 0.2 ;
    
}
.card{
    width: 200px;
    height: 300px;
}
.carousel{
    height: 600px;
}
