.carousel-item{
    width: 400px;
    height: 300px;
}
.parallax-container {
    height:200px;
 }
.carousel{
    height: 300px;
}
.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
      font-size: inherit;
  }
.btn{
    margin-top: 20px;
    padding: 0 50px;
    border-radius: 10px;

}
