<div id="Slider"class="carousel">   
    <a class="carousel-item" href=""><img src="../../../assets/img/img1.jpg"></a>
    <a class="carousel-item" href=""><img src="../../../assets/img/img2.jpg"></a>
    <a class="carousel-item" href=""><img src="../../../assets/img/img3.jpg"></a>
    <a class="carousel-item" href=""><img src="../../../assets/img/img4.jpg"></a>
    <a class="carousel-item" href=""><img src="../../../assets/img/WhatsApp Image 2020-02-14 at 4.25.08 PM (1).jpeg"></a>
</div>
<table class="egt">
    <tr class="center">
      <td>  <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/02.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div></td>
      <td>  <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/02.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div></td>
      <td>  <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/02.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div></td>
      <td>  <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/02.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div></td>
    </tr>
  </table>